{% extends "namesapp/base.html" %}
{% block content %}
<h1>About</h1>
This Name Finder web application is custom made to find and return a list of information needed to contact currently incarcerated people. It uses a list of the top 100 most common las names in the US to perform the search.
It uses a web scraper (Selenium) and Django to do most of the work, and is hosted on a Virtual Private Server. 
The code is all viewable here:
The basic process can be rewritten to include more websites, and be able to search more facilties. But because each facilty's website is different, each search will take some time to set up.
{% endblock %}