{# This is base.html #} 
{% load static %}
<html> 
<head> 
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Finding App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'namesapp/final-style.css' %}">
</head> 
<body> 
<header>
    <nav class="bg-white shadow dark:bg-gray-800">
        <div
          class="container px-6 py-3 justify-between">
          <div class="flex items-center justify-between">
            <div>
              <span
                class="text-xl font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300"
                href="#">
                Name Finder
                </span>
            </div>

          <div class="items-center md:flex">
            <div class="flex flex-col md:flex-row md:mx-6">
                {% with request.resolver_match.url_name as url_name %}
              <a
                class="text-gray-700 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-400  {% if url_name == 'index' %}hidden{% endif %}"
                href="home">
                Search
                
            </a>
              <a class="text-gray-700 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-400"
                href="#">About</a>
            </div>
            <div class="flex right md:block">
                {% if request.user.is_authenticated %}
                <span class="text-gray-700 dark:text-gray-200 font-bold">
                    User: {{ request.user }}
                </span>
                <span>
                    <a
                    class="my-1 text-gray-700 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-400"
                    href="logout">
                        Logout
                  </a>
                </span>
                {% else %}
                <a
                class="my-1 text-gray-700 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-400 md:mx-4 md:my-0"
                href="login">
                    Login
                </a>
                {% endif %}

              {% endwith %}
            </div>
          </div>
        </div>
      </nav>
<nav>
</nav>
</header> 
{% block content %} 
{% endblock %} 
<footer>
    
</footer> 
</body> 
</html> 