{# This is base.html #} 
{% load static %}
<html> 
<head> 
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Finding App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'namesapp/final-style.css' %}">
</head> 
<body> 
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex items-center mb-4 md:mb-0">
        <span
        class="text-xl font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300">
        Name Finder
        </span>
      </a>
      {% with request.resolver_match.url_name as url_name %}
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a 
        class="mr-5 hover:text-gray-900 {% if url_name == 'index' %}text-bold{% endif %}" 
        href="home">
        Search</a>
        <a class="mr-5 hover:text-gray-900 {% if url_name == 'about' %}text-bold{% endif %}">About</a>
        {% if request.user.is_authenticated %}
        <a class="mr-5 hover:text-gray-900" href="{{request.user}}-all">All Past Names</a>
        {% endif %}
        <a class="mr-5 hover:text-gray-900">Fourth Link</a>
      </nav>

      <div class="flex right md:block">
        {% if request.user.is_authenticated %}
        <span class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 rounded text-base mt-4 md:mt-0">
          {{ request.user }}
        </span>
        <button class="inline-flex items-center bg-red-100 border-0 py-1 px-3 focus:outline-none hover:bg-red-400 hover:text-white rounded text-base mt-4 md:mt-0">
        <a href="logout">Logout</a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
        {% else %}
        <button class="inline-flex items-center bg-red-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 hover:bg-red-400 hover:text-white {% if url_name == 'login' %}hidden{% endif %}">
          <a href="login"> Login </a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
        {% endif %}
        {% endwith %}
    </div>
  </header>

{% block content %} 
{% endblock %} 
<footer>
    
</footer> 
</body> 
</html> 