{% extends "namesapp/base.html" %} 
{% block content %} 
<h1>Hello from the template</h1>
<div class='past-names'> 
    <a href="{{request.user}}-all">
        Get All Past Names
    </a></div>
<form action="{% url 'namesapp:get-names' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>List Generation for NYC Jails</h2></legend>
        {% if current_name %}<p>Starting from name: <strong>{{ current_name }}</strong>, position <strong>{{ current_line }} </strong> out of 100 possible names to search</p>{% endif %}
            <h4>How many names do you want?</h4>    
            <select name="number" id="number">
                <option value="3">3</option>
                <option value="50">50</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
    <input type="submit" value="Submit" onclick="loading()">
    </form>
    <div id="loading-info">
        <p>
            Be aware that fetching names takes some time, as the script has a delay of at least 15 seconds between searches for any given group of last names.
        </p>
        <p>
            Also, keep in mind that if you do something odd like click the submit button a dozen times really quick, it may break the application for the day.
            <br>
            The web scraper is designed to imitate a human, if it becomes clear that we are not a human it seems to lock us out for some time.
        </p>
        <p>
            It's best to just press once and wait. If there are errors, they'll be displayed on the next page. 
        </p>
        <p>
            <noscript>
                The script runs on the server, so if you have javascript disabled everything will work. Just wait 3-4 minutes before checking back.
            </noscript> 
        </p>
    </div>
    <div id='loading-dots'></div>
    {% load static %}
<script type='text/javascript'>
const loading = () => {
        console.log(event, 'clicked')
        document.getElementById('loading-info').innerHTML = 'The script is gathering new names...please be patient'
        window.setInterval( function() {
            const dots = document.getElementById("loading-dots");
            let text = ""
            if ( dots.innerHTML.length > 3 ) {
                dots.innerHTML = ""
            }
               
            else {
                dots.innerHTML += ".";
            }
        }, 300);
    }
   
</script>
{% endblock %}
