<h1>Hello from the template</h1>
<form action="{% url 'namesapp:submit' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>New Person Submission Form</h2></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <h4>How many names do you want?</h4>    
            <select name="number" id="number">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
    <input type="submit" value="Submit">
    </form>
    <ul>    
        {% for person in people %}
        <li>{{ person.name }}, {{ person.book_and_case }}, {{ person.location }}</li>
    {% endfor %}
    </ul>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'namesapp/style.css' %}">
