{% if number %}
    <h1>{{ number }} </h1>
{% else %}
    <p>There's been an error.</p>
{% endif %}
{% if people %}
    <table>
        <tr>
            <th>Name</th>
            <th>Book & Case #</th>
            <th>Location</th>
          </tr>
        {% for person in people %}
        <tr>
            <td class='name'>
                {{ person.name }}
            </td>
            <td class='book-and-case'>
                {{ person.book_and_case }}
            </td>
            <td class='location'>
                {{ person.location }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There's been an error.</p>
{% endif %}